* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    display: block;
    background: whitesmoke;
    color: #4d4d4d;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
}

form {
    margin-top: 10px;
}

div {
    display: block;
}

p, label {
    line-height: 30px;
}

p, label, div, span {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#container {
    position: relative;
    overflow: hidden;
}


/*
======================================================================
Start topbar styles
======================================================================
*/

.topbar {
    padding-left: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: white;
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1000;
}

.logo {
    box-sizing: border-box;
    height: 70px;
    display: block;
    float: left;
    position: relative;
    padding: 15px 25px 15px 25px;
}

.navbar {
    display: block;
    float: left;
    position: relative;
    padding: 25px;
}

.navbar .navbar-list-el {
    float: left;
    padding: 0 25px 0 25px;
}

.navbar .navbar-item {
    font-family: Tahoma, Geneva, sans-serif;
    color: black;
    font-size: 25px;
    line-height: 1;
    font-weight: 700;
}

.navbar .navbar-item:hover {
    color: #145D8A;
    cursor: pointer;
}

/*
======================================================================
End topbar styles
======================================================================
*/

/*
======================================================================
Start hamburger styles
======================================================================
*/

.hamburger {
    float: right;
    padding: 25px;
    display: block;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-bun, .patty, .bottom-bun {
    background: black;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.bottom-bun {
    margin-bottom: 0px;
}

.dropdown {
    position: absolute;
    left: -90px;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown li {
    list-style: none;
}

.dropdown li .dropdown-item {
    display: block;
    padding: 8px 20px;
    font-size: 18px;
    clear: both;
    font-weight: 700;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-align: right;
    font-family: Tahoma, Geneva, sans-serif;
}

.dropdown li .dropdown-item:hover {
    background-color: #EAEAEA;
}

/*
======================================================================
End hamburger styles
======================================================================
*/

/*
======================================================================
Start content styles
======================================================================
*/

#content {
    padding-top: 70px;
}

.content-title-bar {
    padding-top: 50px;
    padding-left: 3%;
    padding-right: 3%;
    overflow: hidden;
    margin: 0 auto 0 auto;
    background-color: #145D8A;
    color: white;
}

.content-title {
    font-size: 60px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 0 auto;
    text-align: left;
}

.content-subtitle {
    max-width: 800px;
    margin: 0 auto 0 auto;
    text-align: left;
    color: white;
    padding-bottom: 20px;
    font-size: 20px;
}

.content-body {
    margin-top: 15px;
    padding-left: 3%;
    padding-right: 3%;
}

.content-wrap {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 0 auto;
}


/*
======================================================================
End topbar styles
======================================================================
*/

/*
======================================================================
Start about page styles
======================================================================
*/

.profile-container {
    width: 100%;
    margin: 60px 0 0 0;
}

.profile-graphic {
    display: block;
    float: left;
    width: 140px;
}

.profile-info {
    display: block;
    margin-left: 160px;
}

.profile-info h1 {
    margin: 0 0 5px 0;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
}

.profile-info p {
    margin: 0 0 0 0;
}

/*
======================================================================
End about page styles
======================================================================
*/

/*
======================================================================
Start form styles
======================================================================
*/

label {
    display: block;
    font-weight: 700;
}

input {
    display: block;
    height: 34px;
}

textarea {
    max-height: 300px;
    height: 150px;
}

input, textarea {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input:focus, textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.form-section {
    margin-bottom: 10px;
}

.btn-primary {
    float: right;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary.disabled {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    cursor: wait;
}

button {
    display: inline-block;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.error, .feedback {
    height: 20px;
}

.error {
    color: red;
}

.spinner {
    float: right;
    margin: 3.5px 5px 3.5px 5px;
}

/*
======================================================================
End form styles
======================================================================
*/

/*
======================================================================
Start footer styles
======================================================================
*/

.footer {
    margin-top: 200px;
    height: 50px;
    background-color: black;
}

/*
======================================================================
End footer styles
======================================================================
*/
