/* line 96, icon/*.png */
.icon-sprite, .icon-computer, .icon-gear, .icon-jeremy, .icon-justin, .icon-logo, .icon-report, .icon-william {
  background-image: url('/img/icon-s642d54cb5f.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-computer {
  background-position: 0 0;
  height: 90px;
  width: 90px;
}

/* line 84, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-gear {
  background-position: 0 -90px;
  height: 90px;
  width: 90px;
}

/* line 84, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-jeremy {
  background-position: 0 -180px;
  height: 200px;
  width: 150px;
}

/* line 84, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-justin {
  background-position: 0 -380px;
  height: 200px;
  width: 150px;
}

/* line 84, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-logo {
  background-position: 0 -580px;
  height: 40px;
  width: 240px;
}

/* line 84, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-report {
  background-position: 0 -620px;
  height: 90px;
  width: 90px;
}

/* line 84, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-william {
  background-position: 0 -710px;
  height: 200px;
  width: 150px;
}

/* line 7, ../sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 11, ../sass/main.scss */
html {
  overflow-y: scroll;
}

/* line 15, ../sass/main.scss */
body {
  display: block;
  background: whitesmoke;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
}

/* line 24, ../sass/main.scss */
form {
  margin-top: 30px;
}

/* line 28, ../sass/main.scss */
div {
  display: block;
}

/* line 32, ../sass/main.scss */
p, label {
  line-height: 30px;
}

/* line 36, ../sass/main.scss */
p, label, div, span {
  /*    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

/* line 42, ../sass/main.scss */
#container {
  position: relative;
  overflow: hidden;
}

/* line 47, ../sass/main.scss */
.divider {
  clear: both;
  width: 100%;
  border-bottom: 1px solid #EAEAEA;
  margin: 60px 0 60px 0;
}

/*
======================================================================
Start topbar styles
======================================================================
*/
/* line 60, ../sass/main.scss */
.topbar {
  padding-left: 10%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: white;
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1000;
}

/* line 74, ../sass/main.scss */
.logo {
  box-sizing: border-box;
  display: block;
  float: left;
  position: relative;
  margin: 15px 25px 15px 0;
}

/* line 82, ../sass/main.scss */
.navbar {
  display: block;
  float: left;
  position: relative;
  padding: 25px;
}

/* line 89, ../sass/main.scss */
.navbar .navbar-list-el {
  float: left;
  padding: 0 25px 0 25px;
}

/* line 94, ../sass/main.scss */
.navbar .navbar-item {
  font-family: Tahoma, Geneva, sans-serif;
  color: black;
  font-size: 25px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0px;
}

/* line 103, ../sass/main.scss */
.navbar .navbar-item:hover {
  color: #145D8A;
  cursor: pointer;
}

/*
======================================================================
End topbar styles
======================================================================
*/
/*
======================================================================
Start hamburger styles
======================================================================
*/
/* line 120, ../sass/main.scss */
.hamburger {
  float: right;
  padding: 25px;
  display: block;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 137, ../sass/main.scss */
.top-bun, .patty, .bottom-bun {
  background: black;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

/* line 150, ../sass/main.scss */
.bottom-bun {
  margin-bottom: 0px;
}

/* line 154, ../sass/main.scss */
.dropdown {
  position: absolute;
  left: -90px;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* line 175, ../sass/main.scss */
.dropdown li {
  list-style: none;
}

/* line 179, ../sass/main.scss */
.dropdown li .dropdown-item {
  display: block;
  padding: 8px 20px;
  font-size: 18px;
  clear: both;
  font-weight: 700;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  text-align: right;
  font-family: Tahoma, Geneva, sans-serif;
}

/* line 192, ../sass/main.scss */
.dropdown li .dropdown-item:hover {
  background-color: #EAEAEA;
}

/*
======================================================================
End hamburger styles
======================================================================
*/
/*
======================================================================
Start content styles
======================================================================
*/
/* line 208, ../sass/main.scss */
#content {
  padding-top: 70px;
}

/* line 212, ../sass/main.scss */
.content-title-bar {
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  margin: 0 auto 0 auto;
  background-color: #145D8A;
  color: white;
}

/* line 222, ../sass/main.scss */
.content-title {
  font-size: 60px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 0 auto;
  text-align: left;
}

/* line 231, ../sass/main.scss */
.content-subtitle {
  max-width: 800px;
  margin: 0 auto 0 auto;
  text-align: left;
  color: white;
  padding-bottom: 30px;
  font-size: 20px;
}

/* line 240, ../sass/main.scss */
.content-body {
  padding-left: 10%;
  padding-right: 10%;
}

/* line 245, ../sass/main.scss */
.content-wrap {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 auto;
}

/*
======================================================================
End topbar styles
======================================================================
*/
/*
======================================================================
Start Home page styles
======================================================================
*/
/* line 264, ../sass/main.scss */
.panel-wrap {
  clear: both;
  max-width: 800px;
  margin: 0 auto 0 auto;
}

/* line 270, ../sass/main.scss */
.panel-content {
  clear: both;
  padding: 20px 0 20px 0;
  color: white;
  border-top: 5px solid #25657B;
  background-color: #2F7D9C;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto 0 auto;
}

/* line 281, ../sass/main.scss */
.segment {
  width: 100%;
  max-width: 350px;
  margin: 50px auto 50px auto;
}

/* line 287, ../sass/main.scss */
.segment-header {
  text-align: center;
  font-size: 24px;
}

/* line 292, ../sass/main.scss */
.segment-body {
  text-align: center;
  font-size: 15px;
}

/* line 297, ../sass/main.scss */
.segment-icon {
  margin: 0 auto 10px auto;
  width: 90px;
  height: 90px;
}

/* line 303, ../sass/main.scss */
.left {
  float: left;
}

/* line 307, ../sass/main.scss */
.right {
  float: right;
}

/*
======================================================================
End Home page styles
======================================================================
*/
/*
======================================================================
Start about page styles
======================================================================
*/
/* line 323, ../sass/main.scss */
.profile-container {
  width: 100%;
  margin: 60px 0 0 0;
}

/* line 328, ../sass/main.scss */
.profile-graphic {
  margin-top: 10px;
  display: block;
  float: left;
}

/* line 334, ../sass/main.scss */
.profile-info {
  display: block;
  margin-left: 170px;
}

/* line 339, ../sass/main.scss */
.profile-info h1 {
  margin: 0 0 5px 0;
  color: black;
  font-family: Tahoma, Geneva, sans-serif;
}

/* line 345, ../sass/main.scss */
.profile-info p {
  margin: 0 0 0 0;
}

/*
======================================================================
End about page styles
======================================================================
*/
/*
======================================================================
Start form styles
======================================================================
*/
/* line 361, ../sass/main.scss */
label {
  display: block;
}

/* line 365, ../sass/main.scss */
input {
  display: block;
  height: 34px;
}

/* line 370, ../sass/main.scss */
textarea {
  max-height: 300px;
  height: 150px;
}

/* line 375, ../sass/main.scss */
input, textarea {
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* line 392, ../sass/main.scss */
input:focus, textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* line 399, ../sass/main.scss */
.form-section {
  margin-bottom: 10px;
}

/* line 403, ../sass/main.scss */
.btn-primary {
  float: right;
  color: #fff;
  background-color: #337AB7;
  border-color: #2E6DA4;
}

/* line 410, ../sass/main.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204D74;
}

/* line 416, ../sass/main.scss */
.btn-primary.disabled {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
  cursor: wait;
}

/* line 423, ../sass/main.scss */
.btn-primary:focus {
  outline: none;
}

/* line 427, ../sass/main.scss */
button {
  display: inline-block;
  padding: 8px 14px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* line 449, ../sass/main.scss */
.error, .feedback {
  height: 20px;
}

/* line 453, ../sass/main.scss */
.error {
  color: red;
}

/* line 457, ../sass/main.scss */
.spinner {
  float: right;
  margin: 3.5px 5px 3.5px 5px;
}

/* line 462, ../sass/main.scss */
.registration-form {
  padding: 10px;
  border: 2px solid #CCD0FA;
  border-radius: 8px;
  background-color: #F0F0F0;
}

/*
======================================================================
End form styles
======================================================================
*/
/*
======================================================================
Start table styles
======================================================================
*/
/* line 481, ../sass/main.scss */
table {
  margin: 30px 20px 30px 20px;
  width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 489, ../sass/main.scss */
table > tbody > tr > td, table > tbody > tr > th {
  text-align: left;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

/* line 497, ../sass/main.scss */
table > thead > tr > th {
  text-align: left;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

/*
======================================================================
End table styles
======================================================================
*/
/*
======================================================================
Start connect4 styles
======================================================================
*/
/* line 517, ../sass/main.scss */
.connect4-app {
  padding-bottom: 100px;
}
/* line 520, ../sass/main.scss */
.connect4-app .board {
  max-height: 250px;
  height: 250px;
  font-family: "Lucida Console", Monaco, monospace;
}
/* line 526, ../sass/main.scss */
.connect4-app .btn-primary {
  float: none;
  display: inline-block;
  margin: 10px 10px 0 0;
  background-color: #145D8A;
  border-color: #145D8A;
}
/* line 532, ../sass/main.scss */
.connect4-app .btn-primary:hover {
  background-color: #4F8DB3;
  border-color: #145D8A;
}
/* line 538, ../sass/main.scss */
.connect4-app .game-message {
  height: 24px;
}

/*
======================================================================
End connect4 styles
======================================================================
*/
/*
======================================================================
Start footer styles
======================================================================
*/
/* line 555, ../sass/main.scss */
#about, #contact, #register {
  margin-bottom: 200px;
}

/* line 559, ../sass/main.scss */
.footer {
  height: 50px;
  background-color: black;
}

/*
======================================================================
End footer styles
======================================================================
*/
