$icon-sprite-dimensions: true;
$sprite-image-default-size: 40px;
@import "compass/utilities/sprites";
@import "icon/*.png";
@include all-icon-sprites;

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    display: block;
    background: whitesmoke;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
}

form {
    margin-top: 30px;
}

div {
    display: block;
}

p, label {
    line-height: 30px;
}

p, label, div, span {
/*    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

#container {
    position: relative;
    overflow: hidden;
}

.divider {
    clear: both;
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    margin: 60px 0 60px 0;
}

/*
======================================================================
Start topbar styles
======================================================================
*/

.topbar {
    padding-left: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: white;
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1000;
}

.logo {
    box-sizing: border-box;
    display: block;
    float: left;
    position: relative;
    margin: 15px 25px 15px 0;
}

.navbar {
    display: block;
    float: left;
    position: relative;
    padding: 25px;
}

.navbar .navbar-list-el {
    float: left;
    padding: 0 25px 0 25px;
}

.navbar .navbar-item {
    font-family: Tahoma, Geneva, sans-serif;
    color: black;
    font-size: 25px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0px;
}

.navbar .navbar-item:hover {
    color: #145D8A;
    cursor: pointer;
}

/*
======================================================================
End topbar styles
======================================================================
*/

/*
======================================================================
Start hamburger styles
======================================================================
*/

.hamburger {
    float: right;
    padding: 25px;
    display: block;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-bun, .patty, .bottom-bun {
    background: black;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.bottom-bun {
    margin-bottom: 0px;
}

.dropdown {
    position: absolute;
    left: -90px;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown li {
    list-style: none;
}

.dropdown li .dropdown-item {
    display: block;
    padding: 8px 20px;
    font-size: 18px;
    clear: both;
    font-weight: 700;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-align: right;
    font-family: Tahoma, Geneva, sans-serif;
}

.dropdown li .dropdown-item:hover {
    background-color: #EAEAEA;
}

/*
======================================================================
End hamburger styles
======================================================================
*/

/*
======================================================================
Start content styles
======================================================================
*/

#content {
    padding-top: 70px;
}

.content-title-bar {
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    margin: 0 auto 0 auto;
    background-color: #145D8A;
    color: white;
}

.content-title {
    font-size: 60px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 0 auto;
    text-align: left;
}

.content-subtitle {
    max-width: 800px;
    margin: 0 auto 0 auto;
    text-align: left;
    color: white;
    padding-bottom: 30px;
    font-size: 20px;
}

.content-body {
    padding-left: 10%;
    padding-right: 10%;
}

.content-wrap {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 0 auto;
}


/*
======================================================================
End topbar styles
======================================================================
*/

/*
======================================================================
Start Home page styles
======================================================================
*/

.panel-wrap {
    clear: both;
    max-width: 800px;
    margin: 0 auto 0 auto;
}

.panel-content {
    clear: both;
    padding: 20px 0 20px 0;
    color: white;
    border-top: 5px solid #25657B;
    background-color: #2F7D9C;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto 0 auto;
}

.segment {
    width: 100%;
    max-width: 350px;
    margin: 50px auto 50px auto;
}

.segment-header {
    text-align: center;
    font-size: 24px;
}

.segment-body {
    text-align: center;
    font-size: 15px;
}

.segment-icon {
    margin: 0 auto 10px auto;
    width: 90px;
    height: 90px;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*
======================================================================
End Home page styles
======================================================================
*/

/*
======================================================================
Start about page styles
======================================================================
*/

.profile-container {
    width: 100%;
    margin: 60px 0 0 0;
}

.profile-graphic {
    margin-top: 10px;
    display: block;
    float: left;
}

.profile-info {
    display: block;
    margin-left: 170px;
}

.profile-info h1 {
    margin: 0 0 5px 0;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
}

.profile-info p {
    margin: 0 0 0 0;
}

/*
======================================================================
End about page styles
======================================================================
*/

/*
======================================================================
Start form styles
======================================================================
*/

label {
    display: block;
}

input {
    display: block;
    height: 34px;
}

textarea {
    max-height: 300px;
    height: 150px;
}

input, textarea {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input:focus, textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.form-section {
    margin-bottom: 10px;
}

.btn-primary {
    float: right;
    color: #fff;
    background-color: #337AB7;
    border-color: #2E6DA4;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204D74;
}

.btn-primary.disabled {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    cursor: wait;
}

.btn-primary:focus {
    outline: none;
}

button {
    display: inline-block;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.error, .feedback {
    height: 20px;
}

.error {
    color: red;
}

.spinner {
    float: right;
    margin: 3.5px 5px 3.5px 5px;
}

.registration-form {
    padding: 10px;
    border: 2px solid #CCD0FA;
    border-radius: 8px;
    background-color: #F0F0F0;
}

/*
======================================================================
End form styles
======================================================================
*/

/*
======================================================================
Start table styles
======================================================================
*/

table {
    margin: 30px 0 30px 0;
    width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

table>tbody>tr>td, table>tbody>tr>th {
    text-align: left;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table>thead>tr>th {
    text-align: left;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

/*
======================================================================
End table styles
======================================================================
*/

/*
======================================================================
Start connect4 styles
======================================================================
*/

.connect4-app {
    padding-bottom: 100px;

    .board {
        max-height: 250px;
        height: 250px;
        font-family: "Lucida Console", Monaco, monospace;
    }

    .btn-primary {
        float: none;
        display: inline-block;
        margin: 10px 10px 0 0;
        background-color: #145D8A;
        border-color: #145D8A;
        &:hover {
            background-color: #4F8DB3;
            border-color: #145D8A;
        }
    }

    .game-message {
        height: 24px;
    }
}

/*
======================================================================
End connect4 styles
======================================================================
*/

/*
======================================================================
Start footer styles
======================================================================
*/

#about, #contact, #register {
    margin-bottom: 200px;
}

.footer {
    height: 50px;
    background-color: black;
}

/*
======================================================================
End footer styles
======================================================================
*/

.cta {
  width: 100%;
  position: absolute;
  bottom: 12px;
  left: 12px;
  padding-right: 24px;
}

.class-features {
  padding: 0;
  margin-top: 20px;
  list-style: none;
  text-align: left;
  font-size: 14px;
  text-align: center;
  color: #145D8A;
}

.class-features li {
  position: relative;
  padding: 10px 0;
  line-height: 1;
  font-size: 11px;
  letter-spacing: -.01em;
  text-transform: uppercase;
  border-top: 1px solid #e8e8e8;
}

.class-container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  min-height: 420px;
  position: relative;
  top: 0;
  padding: 12px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 0 2px rgba(8,188,255,0);
  background: white;
  -webkit-transition: 0.1s all linear;
  -moz-transition: 0.1s all linear;
  transition: 0.1s all linear;
}

.class-container:hover {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.class-container h2 {
  color: #145D8A;
  font-size: 18px;
  margin-top: 10px;
}

.class-container p {
  margin: 8px auto;
  min-height: 4em;
  max-width: 275px;
  font-size: 12px;
  color: #888;
}

.class-container .btn-primary {
  display: block;
  width: 100%;
  padding: .75em;
  max-width: 320px;
  border: 0;
  background: white;
  border: 1px solid #145D8A;
  border-radius: 4px;
  color: #145D8A;
  font-size: 15px;
}